@font-face {
    font-family: Gotham;
    src: url(../fonts/HomepageBaukasten-Bold.woff2) format('woff2'),
         url(../fonts/HomepageBaukasten-Bold.woff) format('woff'),
         url(../fonts/HomepageBaukasten-Bold.ttf) format('truetype'),
         url(../fonts/HomepageBaukasten-Bold.eot) format('embedded-opentype');
}

body {
    color: #ffffff;
    background: #1A1423;
    overflow-x: hidden;
    font-family: Gotham;
}

nav {
    background-color: #44434353;
    border-bottom: 1px solid rgba(238, 238, 238, 0.329);
    backdrop-filter: blur(10px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    margin: auto;
    left: 0;
    right: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    float: right;
}

nav ul li {
    display: inline-block;
    text-align: center;
}

nav ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: white;
    transition: 0.5s;
    border-radius: 0px;
}

nav ul li a:hover {
    background-color: #151515;
    border-radius: 5px;
    transition: 0.5s;
}

.kezdes {
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

section {
    float: left;
    height: 900px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.kek-text {
    background: linear-gradient(86deg,#1067ED 10%,#55C2C4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lila-text {
    background: linear-gradient(86deg,#3e0a92 10%,#5560c4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sarga-text {
    background: linear-gradient(86deg,#e8b71a 10%,#c4550a 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.zold-text {
    background-clip: text;
    background: linear-gradient(86deg,#0a8e0a 10%,#0a8e0a 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.orange-text {
    background-clip: text;
    background: linear-gradient(86deg,#ff8c00 10%,#643803 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

footer ul a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    list-style-type: none;
    text-align: center;
    margin: 10px;
}

footer ul {
    text-align: center;
}

li {
    display: inline;
}

footer {
    margin-top: 35%;
} 

footer p {
    text-align: center;
    margin: auto;
}

footer a:hover {
    color: blue;
    transition: 0.5s;
}