@font-face {
    font-family: Gotham;
    src: url(../fonts/HomepageBaukasten-Bold.woff2) format('woff2'),
        url(../fonts/HomepageBaukasten-Bold.woff) format('woff'),
        url(../fonts/HomepageBaukasten-Bold.ttf) format('truetype'),
        url(../fonts/HomepageBaukasten-Bold.eot) format('embedded-opentype');
}

body {
    color: #ffffff;
    background: #1A1423;
    overflow-x: hidden;
    font-family: Gotham;
    position: relative;
    cursor: url(../images/pointer.png), pointer;
}

nav {
    background-color: #44434353;
    border-bottom: 1px solid rgba(238, 238, 238, 0.329);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    box-shadow: 0px 1px 2px rgba(0, 255, 255, 0.5),
        0px 2px 4px rgba(0, 255, 255, 0.5),
        0px 4px 8px rgba(0, 255, 255, 0.5),
        0px 8px 16px rgba(0, 255, 255, 0.5);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    float: right;
}

nav ul li {
    display: inline-block;
    text-align: center;
}

nav ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: white;
    transition: 0.5s;
    border-radius: 0px;
}

nav ul li a:hover {
    background-color: #151515;
    border-radius: 5px;
    transition: 0.5s;
}

.kezdes {
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

.kezdes h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.kezdes p {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

section {
    float: left;
    height: 900px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.kek-text {
    background: linear-gradient(86deg, #1067ED 10%, #55C2C4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lila-text {
    background: linear-gradient(86deg, #3e0a92 10%, #5560c4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.zold-text {
    background-clip: text;
    background: linear-gradient(86deg, #00ff00 10%, #0a8e0a 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.orange-text {
    background-clip: text;
    background: linear-gradient(86deg, #ff8c00 10%, #643803 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.piros-text {
    background-clip: text;
    background: linear-gradient(86deg, #ff0000 10%, #ee8d8d 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

footer {
    width: 100%;
    height: 10%;
    position: absolute;
    top: 3500px;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    text-decoration: none;
}

footer ul {
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

footer ul a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: 10px;
}

footer ul li {
    text-decoration: none;
    list-style: none;
    display: inline;
    text-decoration: none;
}

footer p {
    text-align: center;
    margin: auto;
}

footer a:hover {
    color: blue;
    transition: 0.5s;
}

.elso-kep {
    width: 30%;
    margin: 0 auto;
    display: block;
    height: auto;
    border-radius: 3%;
    box-shadow: 0px 1px 2px rgba(0, 255, 255, 0.5),
        0px 2px 4px rgba(0, 255, 255, 0.5),
        0px 4px 8px rgba(0, 255, 255, 0.5),
        0px 8px 16px rgba(0, 255, 255, 0.5);
}

.elso {
    width: 50%;
    padding-top: 5%;
    text-align: center;
    margin: auto;
}

.masodik {
    width: 50%;
    padding-top: 5%;
    text-align: center;
    margin: auto;
}

.harmadik {
    width: 50%;
    padding-top: 5%;
    text-align: center;
    margin: auto;
}

.negyedik {
    width: 50%;
    padding-top: 5%;
    text-align: center;
    margin: auto;
}

.masodik-kep {
    height: 400px;
    width: 800px;
}

.harmadik-kep {
    height: 400px;
    width: 800px;
}

.negyedik-kep {
    height: 400px;
    width: 800px;
}

.otodik-kep {
    height: 400px;
    width: 800px;
}

.footer {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

.footer ul {
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer ul a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: 10px;
}

.footer ul li {
    list-style: none;
    display: inline;
}

.footer p {
    text-align: center;
    margin: auto;
}

.footer a:hover {
    color: blue;
    transition: 0.5s;
}